.instilogo {
    height: 50px;
    filter: grayscale(20%);
}

a:hover {
    text-decoration: none;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.noter {
    font-size: 9pt;
}

.tagsep {
    padding: 4px;
}

.tag {
    padding-right: 2px;
}

.confshort {
    font-weight: 300;
}

.conf {
    display: inline-block;
    padding-bottom: 4px;
}

.paper {
    border-left: 1px solid #ddd;
}

.menulink:hover {
    color: #111;
}

.profilepic {
    width: 150px;
    border-radius: 40%;
}

@media (min-width: 768px) {
    .fixed-posi {
        position: fixed;
    }
}

@media only screen and (max-width: 900px) {
    .allstuff {
        padding-top: 0px !important;
    }

    .allstuffp {
        padding-top: 0px !important;
    }

    .profilepic {
        width: 90px;
        border-radius: 40%;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .menur {
        padding-top: 18px !important;
    }
}

body {
    background-color: black;
    color: white;
}

.name {
    color: white;
}

a {
    color: #0062cc;
}

a:hover {
    color: #0056b3;
}

.institution {
    color: white;
}

.years {
    color: white;
}
